@import 'reset';
@import 'variables/global';
@import 'themes/normal';
@import 'themes/dark';
@import 'themes/orange';

// body {
//   font-size: var(--font-m);
//   font-family: var(--font-family-main);

//   color: var(--primary-color);
// }

.app,
.app_modal,
.app_drawer {
  font-size: var(--font-m);
  font-family: var(--font-family-main);

  color: var(--primary-color);
}

.app {
  // Тут мы к app добавляем либо dark либо light и у нас изменяется --bg-color
  background: var(--bg-color);

  min-height: 100vh;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px 20px 20px 45px;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  width: 100%;
  flex-shrink: 100;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-primary-color);
  border-radius: 20px;
  border: 2px solid var(--primary-color);
}
